@import "../../../styles/colors";
.user-histories-box {
  .user-histories {
    color: black;
    .user-history {
      padding: 10px 20px;
      &:not(:last-child) {
        border-bottom: 1px solid $xtra-light-grey;
      }
      .main {
        display: flex;
        flex-wrap: wrap;
        &>div {
          &:not(:last-child) {
            margin-right: 10px;

          }
        }
      }
    }
  }
  .pagination {
    text-align: right;
    padding: 10px 20px;
  }
}