$blue: #4250A2;
$purple: #751265;
$red : #f5222d;
$background-red: #fff1f0;
$border-red: #ffa39e;
$green: #3FB05D;
$background-green: #e9fbe1;

// grey
$dark-grey: #666;
$grey: #909091;
$light-grey: #cacaca;
$xtra-light-grey: #DFDFDF;
$xxtra-light-grey: #EFEFEF;
$xxxtra-light-grey: #F7F7F7;
$nav-grey: #E9E9E9;
$grey-header: #313131;
$background-grey: #F2F2F2;


// app primary color
$primary-color: $purple;
