@import "../../styles/colors";
.date-picker-input-group.ant-input-group.ant-input-group-compact {
  width: 100%;
  display: flex;
  align-items: center;
}

.date-picker-popover {
  .ant-popover-inner-content {
    padding: 0;
    .DayPicker {
      color: black;
      line-height: normal;
      *:focus {
        outline: none;
      }
      .DayPicker-Caption {
        text-transform: capitalize;
      }
      .DayPicker-Day--selected {
        background-color: $primary-color;
      }
      .DayPicker-Day--today:not(.DayPicker-Day--selected) {
        color: $primary-color;
      }
    }
  }
}